.home{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    
    background: #F0E9D2;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 139px;
    top: calc(100% - 139px);
    display: flex;
    justify-content: center;

    background: #A3856A;
    mix-blend-mode: normal;
    border-radius: 30px 30px 0px 0px;
}

.welcome{
    position: fixed;
    width: 322px;
    height: 77px;
    display: flex;
    justify-content: center;
    top: calc(50% - 77px/2 - 227.5px);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.logo{
    position: absolute;
    width: 230px;
    height: 230px;
    top: 162px;
    display: flex;
    justify-content: center;
}

#flex-container {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-top: 10px;
}

.tombol{
    width: 147px;
    height: 69px;
    margin: 8px;
    background: #F0E9D2;
    border-radius: 10px;
    border: none;
}

.menu{
    margin-top: 25px;
    text-align: center;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    text-align: center;

    color: #000000;
}

.jargon{
    position: absolute;
    width: 316px;
    height: 30px;
    bottom: 20px;

    font-family: 'Lily Script One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

/* halaman Data */

.data{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-back{
    position: absolute;
    width: 100%;
    height: 37px;
    left: 0px;
    top: 0px;
    border-radius: 0;

    background: #F0E9D2;
}

.navbar-atas{
    position: absolute;
    width: 100%;
    height: 42px;
}

.back{
    position: absolute;
    width: 153px;
    height: 42px;
    left: -20px;
    top: -5px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.grafik{
    position: absolute;
    width: calc(100% - 42px);
    height: 248px;
    left: 18px;
    top: 54px;
    border-color: #000000;
}

.data-sensor{
    position: absolute;
    width: calc(100% - 42px);
    height: 246px;
    left: 17px;
    top: 347px;
    border-color: #000000;
}

/* Halaman Control */

.control{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gambar-maskot{
    position: fixed;
    margin: auto;
    display: flex;
    width: 360px;
    height: 540px;
    top: calc(100% - 540px);
}

.tulisan-shutdown-alarm{
    position: fixed;
    margin: auto;
    width: auto;
    height: 30px;
    top: calc(100% - 520px);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.shutdown{
    position: fixed;
    display: flex;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    top: calc(100% - 430px);
}

.b-shutdown{
    position: fixed;
    margin: auto;
    background-color: white;
    border: none;
}

#tombol-container{
    position: fixed;
    display: flex;
	justify-content: space-between;
    top: calc(100% - 200px);
}

.tulisan-tombol{
    position: fixed;
    margin: auto;
    width: 130px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    top: calc(100% - 250px);

    color: #000000;
}

.lock-unlock{
    display: flex;
    text-align: center;
	justify-content: space-between;
}

.gambar-tombol{
    padding-left: 20px;
    padding-right: 20px;
}
.c-shutdown{
    background-color:#A3856A;
    border: none;
}