<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Lily+Script+One&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Control</title>
</head>

<body class="control">
    <div class="navbar-back">
        <div class="navbar-atas">
            <a href="/home"><img src="{{ url_for('static', filename='css/image/Back.png') }}"></a>
        </div>
    </div>
        <img class="gambar-maskot" src="{{ url_for('static', filename='css/image/Maskot.png') }}"/>
                <h2 class="tulisan-shutdown-alarm">Shutdown Alarm
                <form action = "http://localhost:5000/form" method = "post">
                <button class="b-shutdown"><img class="shutdown" src="{{ url_for('static', filename='css/image/Botton-shutdown.png') }}" type = "submit" value = "submit"></button></h2>
                <div id="tombol-container">
                    <div class="lock-unlock">
                        <h2 class="tulisan-tombol">Unlock</h2>
                        <form action = "http://localhost:5000/form" method = "post">
                        <button class="c-shutdown"><img class="gambar-tombol" src="{{ url_for('static', filename='css/image/Botton-unlock.png') }}" type = "submit" value = "submit"></button>
                    </div>
                    <div class="lock-unlock">   
                        <h2 class="tulisan-tombol">Lock</h2>
                        <form action = "http://localhost:5000/form" method = "post">
                        <button class="c-shutdown"><img class="gambar-tombol" src="{{ url_for('static', filename='css/image/Botton-lock.png') }}" type = "submit" value = "submit"></button>
                    </div>
                </div>
    </body>
</html>